@import "../../../../scss/mixing";
@import "../../../../scss/variables";

// .productsBlock {
//   @include flexing();
//   @include row-gap(20px);
//   @include column-gap(10px);
//   flex-wrap: wrap;
// }
.main {
  background: $bg-color-semi-white;
  padding: 0 125px;

  .ActiveCategory {
    background: $bg-color-white;
    @include font-style($size-medium, $weight-large);
    text-align: center;
    color: $text-color-reserved;
    padding: 10px 10px;
    margin: 20px 0;
  }

  .callOrder {
    background: rgb(227, 227, 41);
    @include font-style($size-medium, $weight-large);
    text-align: center;
    color: $text-color-black;
    padding: 10px 10px;
    margin: 0 0 20px 0;
  }

  a {
    @include font-style($size-medium - 2px, $weight-medium);
    text-decoration: none;
    color: $text-color-black;
    &:active {
      color: $text-color-reserved;
    }
  }
  .productsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px 10px;
    justify-items: center;
    background: $bg-color-white;
    padding: 10px 20px;
  }

  @media (max-width: 320.9px) {
    padding: 0 20px;

    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(115px, auto));
      gap: 10px 5px;
    }

    .ActiveCategory {
      @include font-style($size-small + 2px, $weight-medium);
      // padding: 8px 10px;
    }
    .callOrder {
      @include font-style($size-small + 2px, $weight-medium);
    }
  }

  @media (min-width: 321px) and (max-width: 470.9px) {
    padding: 0 20px;

    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(190px, auto));
      gap: 10px 5px;
    }

    .ActiveCategory {
      @include font-style($size-medium, $weight-medium);
      // padding: 8px 10px;
    }
    .callOrder {
      @include font-style($size-medium, $weight-medium);
    }
  }

  @media (min-width: 471px) and (max-width: 620.9px) {
    padding: 0 20px;

    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
      gap: 10px 5px;
    }

    .ActiveCategory {
      @include font-style($size-medium, $weight-medium);
      // padding: 8px 10px;
    }
    .callOrder {
      @include font-style($size-medium, $weight-medium);
    }
  }

  @media (min-width: 621px) and (max-width: 767.9px) {
    padding: 0 30px;

    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      gap: 10px 5px;
    }

    .ActiveCategory {
      @include font-style($size-medium, $weight-medium);
      // padding: 8px 10px;
    }
    .callOrder {
      @include font-style($size-medium, $weight-medium);
    }
  }

  @media (min-width: 768px) and (max-width: 991.9px) {
    padding: 0 50px;
    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
      gap: 10px 5px;
    }
    .ActiveCategory {
      @include font-style($size-medium, $weight-medium);
      // padding: 8px 10px;
    }
    .callOrder {
      @include font-style($size-medium, $weight-medium);
    }
  }

  @media (min-width: 992px) and (max-width: 1200.9px) {
    padding: 100px;

    .productsBlock {
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 10px 5px;
    }
  }
}
