@import "../../scss/mixing";
@import "../../scss/variables";

.listItem {
  @include flexing();
  max-width: 930px;
  height: fit-content;
  // border: 1px solid red;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: normal;
  cursor: pointer;
  border-bottom: 2px solid #b3b3b3;

  .listItemCol1 {
    @include flexing();
    align-items: center;
    column-gap: 20px;
    img {
      width: 90px;
    }
    h4 {
      @include font-style($size-medium + 2, $weight-medium);
      line-height: 4rem;
    }
  }

  .removeBtn {
    @include flexing();
    justify-content: normal;
    cursor: pointer;
    padding: 0 8px;
    width: 112px;
    @include border-radius(5px);
    margin-top: 10px;
    // display: inline-block;
    p {
      @include font-style($size-medium - 1, $weight-large - 100);
      color: $search-bnt-bg-hover;
    }
    &:hover {
      background: #dda681;
    }
  }

  .listItemCol2 {
    .pricing {
      @include font-style($size-medium, $weight-large);
      color: #000;
      line-height: 4rem;
      margin-bottom: 40px;
    }
  }
}
