@import "../../scss/mixing";
@import "../../scss/variables";

.checkoutBtn {
  display: block;
  background: $search-bnt-bg;
  color: $text-color-white;
  @include font-style($size-medium, $weight-large - 100);
  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  @include border-radius(3px);
  width: 300px;
  margin-top: 20px;
  cursor: pointer;

  // @media (max-width: 320.9px) {
  //   position: sticky;
  //   bottom: 0;
  // }
}
