@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.totalPriceContainer {
  min-width: 320px;
  background: $bg-color-white;
  box-shadow: 0 0 2px $bg-color-semi-white;
  height: fit-content;
  padding: 10px;
  @include border-radius(3px 3px 0 0);

  .totalHead {
    @include font-style($size-medium, $weight-large - 100);
    border-bottom: 0.3px solid #e7e4e4;
    line-height: 2rem;
    color: $text-color-black;
  }

  .totalpricecol1 {
    @include flexing();
    justify-content: space-between;

    p {
      @include font-style($size-medium - 2px, $weight-medium);
      color: $text-color-black;
      line-height: 2rem;
    }

    h5 {
      @include font-style($size-medium, $weight-medium + 100);
      color: $text-color-black;
      line-height: 2rem;
    }
  }

  small {
    display: block;
    @include font-style($size-medium - 2px, $weight-medium - 100);
    color: $text-color-black;
    line-height: 2rem;
    border-bottom: 0.3px solid #e7e4e4;
  }

  .checkoutBtn {
    display: block;
    background: $search-bnt-bg;
    color: $text-color-white;
    @include font-style($size-medium, $weight-large - 100);
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
    @include border-radius(3px);
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
  }

  @media (max-width: 320.9px) {
    min-width: 280px;
    padding: 5px;

    .checkoutBtn {
      width: 100%;
    }
  }

  @media (min-width: 321px) and (max-width: 470.9px) {
    min-width: 280px;
    padding: 5px;

    .checkoutBtn {
      width: 100%;
    }
  }
  @media (min-width: 471px) and (max-width: 620.9px) {
    min-width: 580px;
    padding: 5px;

    .checkoutBtn {
      width: 100%;
    }
  }

  @media (min-width: 621px) and (max-width: 767.9px) {
    min-width: 280px;
    padding: 5px 10px;

    .checkoutBtn {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 991.9px) {
    min-width: 250px;
    padding: 5px 10px;

    .checkoutBtn {
      width: 100%;
    }
  }
  @media (min-width: 992px) and (max-width: 1200.9px) {
    min-width: 250px;
    padding: 5px 10px;

    .checkoutBtn {
      width: 100%;
    }
  }
}

.returningDetailsContainer {
  min-width: 320px;
  background: $bg-color-white;
  box-shadow: 0 0 2px $bg-color-semi-white;
  height: fit-content;
  padding: 10px;
  @include border-radius(5px 5px 0 0);
  margin-top: 20px;

  p {
    @include font-style($size-medium - 2px, $weight-large - 100);
    color: $text-color-black;
  }
  small {
    @include font-style($size-medium - 3px, $weight-medium - 100);
    color: $text-color-black;
  }

  a {
    @include font-style($size-medium - 2px, $weight-medium - 100);
    color: rgb(124, 124, 240);
    line-height: normal;
  }

  @media (max-width: 320.9px) {
    min-width: 280px;
  }
  @media (min-width: 321px) and (max-width: 470.9px) {
    min-width: 430px;
  }
  @media (min-width: 471px) and (max-width: 620.9px) {
    min-width: 580px;
  }
  @media (min-width: 621px) and (max-width: 767.9px) {
    min-width: 630px;
  }

  @media (min-width: 768px) and (max-width: 991.9px) {
    min-width: 220px;
  }
  @media (min-width: 991px) and (max-width: 1200.9px) {
    min-width: 220px;
  }
}
