@use "../../scss/mixins";
@use "../../scss/variables";

.fromSectionContainer {
  @include flexing();
  padding: 50px 125px;
  justify-content: normal;
  @include column-gap(15px);

  .formCol1 {
    min-width: 590px;
    // border: 1px solid red;
    object-fit: cover;
    img {
      width: 580px;
    }
  }
}
