@import "../../scss/mixing";
@import "../../scss/variables";

.cart {
  text-decoration: none;
  color: $text-color-black;
  @include flexing();

  span {
    @include font-style($size-medium, $weight-medium);
    color: $text-color-black;
  }
}
