@import "../../scss/mixing";
@import "../../scss/variables";

.cart {
  text-decoration: none;
  color: $text-color-black;

  div {
    @include flexing();
    position: relative;
    .cartName {
      @include font-style($size-medium, $weight-medium);
      color: $text-color-black;
    }
  }

  .cartTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 19px;
    right: 9.7rem;
    @include font-style($size-small, $weight-medium);
    width: 20px;
    height: 20px;
    background: $search-bnt-bg;
    @include border-radius(50%);
    color: $text-color-white;
  }

  @media (max-width: 320px) {
    margin-left: 50px;
    .cartName {
      display: none;
    }
    .cartTotal {
      width: 15px;
      height: 15px;
      right: 4.3rem;
      top: 17px;
    }
  }

  @media (max-width: 470px) {
    margin-left: 195px;
    .cartName {
      display: none;
    }
    .cartTotal {
      width: 15px;
      height: 15px;
      right: 4.4rem;
      top: 3.4rem;
    }
  }
}
