@import "../../scss/mixing";
@import "../../scss/variables";

.dropDown {
  .dropItem {
    cursor: pointer;
    span {
      @include font-style($size-medium, $weight-medium);
      color: $text-color-black;
    }
    .questionMark {
      width: 25px;
    }
  }
}
