@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.dropDown {
  .dropItem {
    cursor: pointer;
    span {
      @include font-style($size-medium, $weight-medium);
      color: $text-color-black;
    }
    .questionMark {
      width: 25px;
    }
    @media (min-width: 768px) and (max-width: 991.9px) {
      span {
        @include font-style($size-medium - 2px, $weight-medium);
      }

      img {
        width: 20px;
      }
    }

    @media (min-width: 992px) and (max-width: 1200.9px) {
      span {
        @include font-style($size-medium, $weight-medium);
      }

      img {
        width: 20px;
      }
    }
  }
}
