@import "../../scss/mixing";
@import "../../scss/variables";

.footerGet {
  max-width: 300px;
  // border: 1px solid red;

  .getFlex1 {
    @include flexing();
    align-items: center;
    margin-top: 20px;

    .QrCode {
      width: 120px;
    }

    .appStore {
      width: 170px;
    }
  }

  .getFlex2 {
    max-width: 290px;
    @include flexing();
    justify-content: space-between;
    margin-top: 10px;
    img {
      width: 45px;
      object-fit: cover;
    }
  }
}

@media (max-width: 320px) {
  .footerGet {
    width: 100%;
    justify-content: center;
    .getFlex1 {
      .QrCode {
        width: 90px;
      }
      .appStore {
        width: 127px;
      }
    }

    .getFlex2 {
      max-width: 100%;
      justify-content: center;
      @include column-gap(30px);
      img {
        width: 30px;
      }
    }
  }
}
