@import "../../scss/mixing";
@import "../../scss/variables";

section {
  padding: 50px 125px;

  .wishList {
    max-width: 900px;
    list-style-type: none;
    background: $bg-color-white;
    margin: auto;
    padding: 10px;
    .wish {
      @include font-style($size-large, $weight-large);
      line-height: 3rem;
      border-bottom: 0.3px solid #e7e4e4;
      color: $text-color-black;
    }
  }
}
