@import "../../scss/mixing";
@import "../../scss/variables";

.itmeList {
  @include flexing();
  align-items: baseline;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid $bg-border-color;
  padding: 20px;
  margin-top: 20px;
  .itemListCol1 {
    @include flexing();
    @include column-gap(20px);
    justify-content: center;
    align-items: normal;
    max-width: 650px;
    img {
      width: 100px;
    }

    .naming {
      @include font-style($size-medium, $weight-medium);
      line-height: 1.5rem;
    }

    .pricing {
      @include font-style($size-medium + 2px, $weight-medium + 100);
      line-height: 2.5rem;
    }
  }

  .itemListCol2 {
    @include flexing();
    justify-content: center;
    @include column-gap(20px);
    max-width: 250px;
    .remove {
      color: $search-bnt-bg;
      @include font-style($size-medium, $weight-medium);
      border: none;
      outline: none;
      cursor: pointer;
    }

    .buy {
      padding: 10px 20px;
      background: $search-bnt-bg;
      color: $text-color-white;
      font-size: $size-medium - 2px, $weight-medium;
      border: none;
      outline: none;
      @include border-radius(5px);
      cursor: pointer;
    }
  }
}
