@import "../../scss/mixing";
@import "../../scss/variables";

section {
  padding: 50px 125px;

  .wishList {
    max-width: 900px;
    list-style-type: none;
    background: $bg-color-white;
    margin: auto;
    padding: 10px;
    .wish {
      @include font-style($size-large, $weight-large);
      line-height: 3rem;
      border-bottom: 0.3px solid #e7e4e4;
      color: $text-color-black;
      color: $text-color-reserved;
    }
  }

  @media (max-width: 320.9px) {
    padding: 10px 20px;
    .wishList {
      max-width: 280px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium - 2px, $weight-large);
    }
  }

  @media (min-width: 321px) and (max-width: 470.9px) {
    padding: 10px 20px;
    .wishList {
      max-width: 430px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium - 2px, $weight-large);
    }
  }
  @media (min-width: 471px) and (max-width: 620.9px) {
    padding: 10px 20px;
    .wishList {
      max-width: 580px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium - 2px, $weight-large);
    }
  }
  @media (min-width: 621px) and (max-width: 767.9px) {
    padding: 20px 30px;
    .wishList {
      max-width: 630px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium - 2px, $weight-large);
    }
  }
  @media (min-width: 768px) and (max-width: 991.9px) {
    padding: 20px 50px;
    .wishList {
      max-width: 760px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium, $weight-large);
    }
  }
  @media (min-width: 992px) and (max-width: 1200.9px) {
    // padding: 20px 50px;
    .wishList {
      max-width: 880px;
      padding: 5px;
    }
    .wish {
      @include font-style($size-medium + 2px, $weight-large);
    }
  }
}
