@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

div {
  .canScrollLink {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    a {
      @include font-style($size-medium - 2px, $weight-medium);
      color: $text-color-black;
      text-decoration: none;
      line-height: 3rem;
    }
    @media (max-width: 320.9px) {
      max-width: 280px;
    }
    @media (min-width: 321px) and (max-width: 470.9px) {
      max-width: 430px;
    }
  }

  .descriptionBox {
    background: $bg-color-white;
    flex-basis: 500px;
    flex-shrink: 0;
    // margin: 30px 0 0 0;
    @include flexing();
    padding: 20px 10px;
    @include column-gap(20px);
    align-items: normal;

    .descriptionImage {
      max-width: 400px;
      img {
        width: 300px;
      }
    }

    .details {
      max-width: 600px;

      .detailsHead {
        @include flexing();
        justify-content: space-between;

        .tags {
          @include flexing();
          @include column-gap(10px);
          justify-content: normal;
          margin-bottom: 15px;
          .tag1 {
            padding: 5px;
            @include border-radius(3px);
            background: #276076;
            @include font-style($size-small, $weight-medium);
            display: inline-block;
            color: $text-color-white;
          }
          .tag2 {
            padding: 3px;
            @include border-radius(3px);
            background: $search-bnt-bg;
            @include font-style($size-small, $weight-medium - 100);
            display: inline-block;
            color: $text-color-white;
          }
        }
      }

      .descriptionName {
        @include font-style($size-large, $weight-medium);
        line-height: 1.5rem;
      }
      .descriptionDetails {
        margin-top: 20px;
        @include font-style($size-medium, $weight-medium);
        line-height: 1.5rem;
      }

      .descriptionPrice {
        @include font-style($size-large, $weight-medium);
        line-height: 3rem;
      }

      .detailsAddBtn {
        background: $search-bnt-bg;
        outline: none;
        border: none;
        @include border-radius(5px);
        display: block;
        padding: 12px 10px;
        @include flexing();
        text-align: center;
        width: 480px;
        position: relative;
        margin-top: 30px;
        cursor: pointer;

        img {
          position: absolute;
          left: 1rem;
          width: 35px;
        }

        span {
          text-align: center;
          @include font-style($size-medium - 1px, $weight-large);
          color: $text-color-white;
        }
      }

      .flexBtn {
        @include flexing();
        align-items: center;
        justify-content: normal;
        margin-top: 30px;
        @include column-gap(10px);

        .count {
          @include font-style($size-medium - 2px, $weight-medium);
        }
      }
    }

    @media (max-width: 320.9px) {
      flex-direction: column;
      row-gap: 10px;

      .descriptionImage {
        max-width: 260px;
        img {
          width: 100%;
        }
      }

      .details {
        max-width: 280px;
        .detailsHead .tags {
          .tag1 {
            padding: 3px;
            @include font-style($size-small, $weight-medium - 100);
            @include border-radius(2px);
          }
        }

        .descriptionName {
          @include font-style($size-medium, $weight-large - 200);
        }

        .descriptionDetails {
          @include font-style($size-medium - 2px, $weight-medium);
        }

        .descriptionPrice {
          @include font-style($size-medium, $weight-medium);
        }

        .btnColumn {
          position: sticky;
          bottom: 0;
          z-index: 1;
        }

        .detailsAddBtn {
          width: 100%;
        }
      }
    }

    @media (min-width: 321px) and (max-width: 470.9px) {
      flex-direction: column;
      row-gap: 10px;

      .descriptionImage {
        max-width: 420px;
        img {
          width: 100%;
        }
      }

      .details {
        max-width: 430px;
        .detailsHead .tags {
          .tag1 {
            padding: 3px;
            @include font-style($size-small, $weight-medium - 100);
            @include border-radius(2px);
          }
        }

        .descriptionName {
          @include font-style($size-medium, $weight-large - 200);
        }

        .descriptionDetails {
          @include font-style($size-medium - 2px, $weight-medium);
        }

        .descriptionPrice {
          @include font-style($size-medium, $weight-medium);
        }

        .btnColumn {
          position: sticky;
          bottom: 0;
          z-index: 1;
        }

        .detailsAddBtn {
          width: 100%;
        }
      }
    }

    @media (min-width: 471px) and (max-width: 620.9px) {
      flex-direction: column;
      row-gap: 10px;

      .descriptionImage {
        max-width: 580px;
        img {
          width: 500px;
        }
      }

      .details {
        max-width: 580px;
        .detailsHead .tags {
          .tag1 {
            padding: 3px;
            @include font-style($size-small, $weight-medium - 100);
            @include border-radius(2px);
          }
        }

        .descriptionName {
          @include font-style($size-medium, $weight-large - 200);
        }

        .descriptionDetails {
          @include font-style($size-medium - 2px, $weight-medium);
        }

        .descriptionPrice {
          @include font-style($size-medium, $weight-medium);
        }

        .btnColumn {
          position: sticky;
          bottom: 0;
          z-index: 1;
        }

        .detailsAddBtn {
          width: 100%;
        }
      }
    }

    @media (min-width: 621px) and (max-width: 767.9px) {
      flex-direction: column;
      row-gap: 10px;
      max-width: 450px;

      .descriptionImage {
        max-width: 350px;
        img {
          width: 300px;
        }
      }

      .details {
        max-width: 400px;
        .detailsHead .tags {
          .tag1 {
            padding: 3px;
            @include font-style($size-small, $weight-medium - 100);
            @include border-radius(2px);
          }
        }

        .descriptionName {
          @include font-style($size-medium, $weight-large - 200);
        }

        .descriptionDetails {
          @include font-style($size-medium - 2px, $weight-medium);
        }

        .descriptionPrice {
          @include font-style($size-medium, $weight-medium);
        }

        .btnColumn {
          position: sticky;
          bottom: 0;
          z-index: 1;
        }

        .detailsAddBtn {
          width: 100%;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      flex-basis: 500px;
      .descriptionImage {
        max-width: 400px;
        img {
          width: 280px;
        }
      }

      .details {
        max-width: 400px;
        .detailsHead .tags {
          .tag1 {
            padding: 3px;
            @include font-style($size-small, $weight-medium - 100);
            @include border-radius(2px);
          }
        }

        .descriptionName {
          @include font-style($size-medium, $weight-large - 200);
        }

        .descriptionDetails {
          @include font-style($size-medium - 2px, $weight-medium);
        }

        .descriptionPrice {
          @include font-style($size-medium, $weight-medium);
        }

        .btnColumn {
          position: sticky;
          bottom: 0;
          z-index: 1;
        }

        .detailsAddBtn {
          width: 100%;
        }
      }
    }
  }
}
