@import "../../scss/mixing";
@import "../../scss/variables";

.mainContainer {
  background: $bg-color-semi-white;

  .descriptionDiv {
    padding: 0 125px;

    @include flexing();
    @include column-gap(10px);

    @media (max-width: 320.9px) {
      padding: 0 20px;
      flex-direction: column;
      row-gap: 20px;
    }

    @media (min-width: 321px) and (max-width: 470.9px) {
      padding: 0 20px;
      flex-direction: column;
      row-gap: 20px;
    }

    @media (min-width: 471px) and (max-width: 620.9px) {
      padding: 0 20px;
      flex-direction: column;
      row-gap: 20px;
    }

    @media (min-width: 621px) and (max-width: 767.9px) {
      padding: 0 30px;
    }

    @media (min-width: 768px) and (max-width: 991.9px) {
      padding: 0 50px;
    }
  }
}
