// ================= Text colors =============
$text-color-black: #000000;
$text-color-white: #fafafa;
$text-color-reserved: #3d3d3d;
$search-placeholder-color: #7b7b7b;

// ============= Background Colors ===============
$bg-color-black: #000000;
$bg-color-white: #ffffff;
$bg-color-semi-white: #f1f1f2;
$search-bg: #f5f5f5;
$item-bg: #f5f5f5;
$button-bg: #000000;
$search-bnt-bg: #f07423;
$search-bnt-bg-hover: #e3610a;
$login-btn-bg: #f7ce26;
$login-btn-bg-hover: #bb9707;

// ========== Border Color ====================
$bg-border-color: #7b7b7b;

// ============ Font Sizes ====================
$size-small: 12px;
$size-medium: 16px;
$size-large: 20px;
$size-largest: 24px;

// =============== Font Weight ===================
$weight-small: 200;
$weight-medium: 400;
$weight-large: 600;
$weight-largest: 800;
