.carouselContainerMain {
  padding: 40px 0 0 50px;

  .carouselContainer {
    width: 900px;

    img {
      width: 900px;
    }
  }
}

@media (max-width: 320px) {
  .carouselContainerMain {
    padding: 10px 0 0 5px;
    .carouselContainer {
      width: 260px;
      img {
        width: 260px;
      }
    }
  }
}
