@import "../../../../scss/mixing";
@import "../../../../scss/variables";

.productsBlock {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 10px 10px;
  justify-items: center;
  background: $bg-color-white;
  padding: 10px 20px;
}

@media (max-width: 320px) {
  .productsBlock {
    padding: 10px 5px;
    grid-template-columns: repeat(auto-fit, minmax(125px, auto));
    // padding: 0;
    gap: 10px 5px;
  }
}
