@import "../../../../scss/mixing";
@import "../../../../scss/variables";

.productBox {
  background: $bg-color-white;
  min-width: 235px;
  color: $text-color-black;
  padding: 5px 5px;
  @include border-radius(5px);
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  // border: 5px solid $bg-border-color;

  .productImg {
    width: 150px;
    &:nth-child(5) {
      width: 70px;
    }
  }

  .productName {
    @include font-style($size-medium, $weight-medium);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 155px;
    line-height: 1.5rem;
    text-align: left;
  }

  .productPrice {
    @include font-style($size-medium, $weight-medium);
    text-align: left;
    line-height: 1.5rem;
  }

  &:hover {
    // background: $item-bg;
    box-shadow: 0 0 6px $bg-border-color;
    color: $text-color-reserved;
    transform: scale(1.005);
  }
  @media (max-width: 320.9px) {
    min-width: 130px;
    border: 1px solid #feefef;
    // border-width: 10px;

    .productImg {
      width: 80px;
    }

    .productName {
      @include font-style($size-small, $weight-small);
      line-height: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 85px;
    }

    .productPrice {
      @include font-style($size-small, $weight-small);
      line-height: 1rem;
    }
    &:hover {
      transform: scale(1.001);
    }
  }

  @media (min-width: 321px) and (max-width: 470.9px) {
    min-width: 185px;
    border: 1px solid #feefef;
    // border-width: 10px;

    .productImg {
      width: 120px;
    }

    .productName {
      @include font-style($size-small, $weight-small);
      line-height: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 150px;
    }

    .productPrice {
      @include font-style($size-small, $weight-small);
      line-height: 1rem;
    }
    &:hover {
      transform: scale(1.001);
    }
  }

  @media (min-width: 471px) and (max-width: 620.9px) {
    min-width: 263px;
    border: 1px solid #feefef;
    padding: 5px 10px;
    // border-width: 10px;

    .productImg {
      width: 130px;
    }

    .productName {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }

    .productPrice {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
    }
    &:hover {
      transform: scale(1.001);
    }
  }

  @media (min-width: 621px) and (max-width: 767.9px) {
    min-width: 200px;
    border: 1px solid #feefef;
    padding: 5px 10px;
    // border-width: 10px;

    .productImg {
      width: 130px;
    }

    .productName {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }

    .productPrice {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
    }
    &:hover {
      transform: scale(1.001);
    }
  }

  @media (min-width: 768px) and (max-width: 991.9px) {
    min-width: 280px;
    // border: 1px solid #feefef;
    padding: 5px 10px;
    .productImg {
      width: 130px;
    }
    .productName {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }

    .productPrice {
      @include font-style($size-medium - 2px, $weight-medium - 100);
      line-height: 1.3rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200.9px) {
    min-width: 250px;
    // border: 1px solid #feefef;
    padding: 5px 10px;
    .productImg {
      width: 130px;
    }
    .productName {
      @include font-style($size-medium, $weight-medium - 100);
      line-height: 1.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }

    .productPrice {
      @include font-style($size-medium, $weight-medium - 100);
      line-height: 1.5rem;
    }
  }
}
